body {
    background-image: url('./flowers8.jpeg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: change-bg 10s ease-in-out infinite;
    color: white;
  }

 

  @keyframes change-bg {
    0% {
        background-image: url('flowers8.jpeg');
    }

    20% {
        background-image: url('flowers6.jpg');
    }

    40% {
        background-image: url('flowers5.jpg');
    }

    60% {
        background-image: url('flowers3.jpg');
    }

    80% {
        background-image: url('flowers4.jpg');
    }

    100% {
        background-image: url('flowers2.jpg');
    }
}
  /* body {
    background-image: url('flowers.jpg'), url('flowers2.jpg'), url('flowers4.jpg');
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center, bottom left, top right;
    background-size: cover, 50px, 50px;
  } */

  
  .container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 500px;
  }
  
  .row1 {
    margin-top: 20px;
  }
  .row1 h1 {
    font-family: 'Cursive', sans-serif;
  }
  
  .row2 {
    margin: 20px 0;
  }
  
  #photo {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation: zoomIn 2s ease-in-out ;
}
@keyframes zoomIn {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }