body {
    background-image: url('flowers8.jpeg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;
    text-align: center;
  }
  
  #photo {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin:10%;
  }
  